body{
  margin-bottom: 1em;
  font-family: var(--primary-text);
  background: var(--background-color);
  color: var(--text);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
  border-radius: 0px;
  background-color: var(--add-button-bg);
  color: var(--new-zine-form-text);
}


#placard-form{
  box-shadow: -1px 2px 8px grey inset;
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 100%;
  padding-left: 0;
  margin-left: 0;
  background: var(--new-branch-form-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#placard-form label{
  margin-bottom: 0;
  text-align: left;
}
#placard-form input{
  width: auto;
}

#placard-form textarea{
  margin-left: 1em;
  margin-top: -1em;
  width: 80%;
  background-color: peachpuff;
  outline-width: 0;
  border: none;
  font-size: 1em;
}

#placard-form input[type=submit]{
  box-shadow: -1px -1px 8px grey inset;
}

#placard-form-close{
  position: absolute;
  right: 1em;
  top: 0;
  cursor: pointer;
}

#placard-form-close:hover{
  color: teal;
}



#zine-shelves{
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(max-content, 1fr));
  grid-gap: 2em;
}

#branch-placard{
  position: relative;
  height: 40vh;
  width: 50%;
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
}

#branch-placard h1{
  font-family: arial;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.15em;
}

#zine-shelves ul{
  padding: none;
  margin: none;
}

#zine-shelves li {
  grid-row: auto / span 3;
  max-width: 100%;
  list-style-type: none;
  margin-left: none;
}

#zine-shelves a{
  text-decoration: none;
  color: var(--text);
}

.zine-card{
  position: relative;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.card-slots{
  position: relative;
  max-height: 100%;
  width: 100%;
}

.card-slots.front{
  position: absolute;
  height: 100%;
}

.card-slots.edit{
  position: absolute;
  height: 100%;
  font-size: 1.3em;
}

.details{
  background: var(--details-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.details h1{
  text-align: left;
}

.details p{
  padding-left: 1em;
  padding-right: 1em;
}

.zine-card img{
  max-height: 550px;
  max-width: 90%;
  margin: auto;
  height: auto;
}

#zine-info {
  width: 100%;
  padding: 1em;
}

#zine-info h1{
  padding: 0.25em;
}

.title{
  width: 100%;
  background: var(--title-bg);
}

.title h1{
  color: var(--title-text);
  text-align: center;
}

#add-button{
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5em;
  border-radius: 0px;
  font-size: 1.3em;
  background-color: var(--add-button-bg);
  color: var(--new-zine-form-text);
}

#edit-form-button{
  border-radius: 0px;
  font-size: 0.5em;
  background-color: var(--add-button-bg);
  color: var(--new-zine-form-text);
}

#add-button:hover{
  background-color: var(--add-button-hover);
  color: indigo;
}

.invisible{
  display: none;
}

#branch-button{
  font-size: 1.3em;
  background-color: var(--branch-button-bg);
  color: var(--branch-button-text);
}

.form-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

#new-branch-form.form-card{
  border: 1px outset gray;
  box-shadow: -2px 4px 20px 6px var(--new-branch-form-shadow);
  position: fixed;
  z-index: 1;
  right: -60%;
  width: 40%;
  background: var(--new-branch-form-bg);
  color: var(--new-branch-form-text);;
}
#new-zine-form.form-card{
  border: 1px outset gray;
  box-shadow: -2px 4px 20px 6px var(--new-branch-form-shadow);
  position: fixed;
  z-index: 1;
  right: -60%;
  width: 40%;
  background: var(--new-zine-form-bg);
  color: var(--new-zine-form-text);;
}

.form-card h1{
  margin-top: 0;
  font-family: arial;
  padding: 0.3em;
}

.form-card p{
  padding-left: 1em;
 }

.form-card form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;

}

.form-card label{
  padding-left: 1em;
  margin-bottom: 1em;
}

.form-card input{
  width: 75%;
  padding-left: 0.5em;
  border: none;
  background-color: peachpuff;
  font-size: 1em;
  font-family: 'mononoki';
}

.form-card input:focus {
  outline-width: 0px;
  border-bottom: 1px solid indigo;
}

.form-card input[type=submit]{
  width: 100%;
  cursor: pointer;
  padding: 0.25em;
  color: peachpuff;
  margin-bottom: 0;
  background-color: white;
  color: indigo;
  bottom: 0;
}

#new-branch-form.form-card input[type=submit]{
  font-size: 24px;
}

.form-card input[type=submit]:hover{
  background-color: lavender;
}

#new-zine-notes{
  height: 2em;
  background-color: peachpuff;
  margin: -0.75em 1em 1em 1em;
  border: none;
  font-size: 1em;
}

#new-zine-notes:focus{
  outline-width: 0px;
}

.revealed {
  right: 0 !important;
}

#placard{
  position: absolute;
  z-index: 2;
  background: var(--background-color);
  left: 0;
  padding-left: 1em;
  height: 100%;
  width: 100%;
}

.hidden{
  position: absolute;
  left: -1000% !important;
}

.edit-card-button {
  position: absolute;
  top: 0;
  right: 0;
} 

.no-display{
  display: none !important;
}


.transition {
  transition: right 0.3s ease-in;
}

.transition-left {
  transition: left 1s ease-in-out;
}


/* #collections
--------------*/

#collections-list{
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  font-size: 1.3em;
}

#collections-list li{
  margin: 0.5em;
  list-style-type: none;
}

.primary-li {
  font-weight: bolder;
  font-size: 1.2em;
  margin-right: 1em;
}

#collection-selection {
  margin: 1em;
  font-family: arial;
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 0.2em;
}

/* form defaults */

.inset-form {
  position: relative;
  box-shadow: -1px 2px 8px grey inset;
  font-size: 1.3em;
  height: 100%;
  padding-top: 1em;
  width: 100%;
  background: var(--new-branch-form-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inset-form form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
 
.inset-form label{
  display: flex;
  padding-left: 1em;
  margin-bottom: 1em;
  width: 90%;
}

.inset-form input{
  flex-grow: 100;
  overflow: hidden;
  padding-left: 0.5em;
  border: none;
  background-color: peachpuff;
  font-size: 1em;
  font-family: 'mononoki';
}

.inset-form input:focus {
  outline-width: 0px;
  border-bottom: 1px solid indigo;
}

.inset-form input[type=submit]{
  width: 100%;
  cursor: pointer;
  padding: 0.25em;
  color: peachpuff;
  margin-bottom: 0;
  background-color: white;
  color: indigo;
  bottom: 0;
}

.inset-form textarea{
  margin-left: 1em;
  margin-top: -1em;
  margin-bottom: 1em;
  width: 90%;
  background-color: peachpuff;
  outline-width: 0;
  border: none;
  font-size: 1em;
}

.outset-form textarea{
  margin-left: 1em;
  margin-top: -1em;
  margin-bottom: 1em;
  width: 90%;
  background-color: peachpuff;
  outline-width: 0;
  border: none;
  font-size: 1em;
}
